@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

.btn-contact {
  @apply text-white bg-smoke-800 px-2 py-1 rounded-2xl border-2 my-5 border-fercho-400 flex gap-3
  transition-all ease-in-out
  ;
  box-shadow:-0.1em 0.4em 0px 0px #27F625;
}
.btn-contact:hover {
  @apply text-smoke-800 bg-fercho-400 px-2 py-1 rounded-2xl border-2 my-5 border-fercho-400 ;
}
.btn-contact:active {

  @apply text-white bg-smoke-800 px-2 py-1 rounded-2xl border-2 my-5 border-fercho-400 ;
  box-shadow:-0.1em 0.1em 0px 0px #27F625;
}

/* estilo para icono ded scroll hacia abajo */
.down {
  @apply animate-bounce;
  /* posicion en la parte inferior del hero */
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);

  
}