@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

.btn-contact {
  @apply text-white bg-smoke-800 px-2 py-1 rounded-2xl border-2 my-5 border-fercho-400 flex gap-3
  transition-all ease-in-out
  ;
  box-shadow:-0.1em 0.4em 0px 0px #27F625;
}
.btn-contact:hover {
  @apply text-smoke-800 bg-fercho-400 ;
}
.btn-contact:active {

  @apply text-white bg-smoke-800  ;
  box-shadow:-0.1em 0.1em 0px 0px #27F625;
}

/* estilo para icono ded scroll hacia abajo */
.down {
  @apply animate-bounce;
  /* posicion en la parte inferior del hero */
  position: absolute;
  bottom: 2%;
  transform: translateX(-50%);

  
}

.blob::before {
  @apply absolute md:w-52 md:h-52 w-32 h-32 -left-20 top-[2%] rounded-full bg-emerald-400 opacity-100 z-0   ;
  content: "";
  filter: blur(120px);


}

.blob::after {
  @apply absolute md:w-52 md:h-52 w-32 h-32 -right-20 top-[19%] rounded-full bg-fercho-400 opacity-100 z-0   ;
  content: "";
  filter: blur(120px);


}
.blob::before {
  @apply absolute md:w-52 md:h-52 w-32 h-32 -left-20 top-[2%] rounded-full bg-emerald-400 opacity-100 z-0   ;
  content: " ";
  filter: blur(120px);
}

.blob2::before {
  @apply absolute md:w-52 md:h-52 w-32 h-36 -right-20 bottom-[2%] rounded-full bg-emerald-400 opacity-100 z-0   ;
  content: " ";
  filter: blur(120px);
}
/* .blob2::after {
  @apply absolute md:w-52 md:h-52 w-32 h-36 -left-20 bottom-[2%] rounded-full bg-fercho-400 opacity-100 z-0   ;
  content: " ";
  filter: blur(120px);
} */

.blob2::after {
  @apply absolute md:w-52 md:h-52 w-32 h-36 -left-20 bottom-[2%] rounded-full bg-fercho-400 opacity-100 z-0;
  content: " ";
  filter: blur(120px);

  /* animation: move-grow-fade 5s infinite; */
}





/* @keyframes move-grow-fade {
  0% {
    transform: translateY(0) scale(1);

  }
  50% {
    transform: translateY(-50em) scale(1.1);

  }
  100% {
    transform: translateY(0) scale(1);
 
  }
} */